<div class="doc-nav">
    <ul>
        <li {% if highlighted=='about' %}
                class="highlight"
            {% endif %}
            >
            <a href="{{g.url('/content/pages/about.html').path}}"><h5>About</h5></a>
        </li>
        {% for item in g.docs('about') %}
            <li {% if item.base == doc.base %}
                    class="highlight"
                {% endif %}
            >
                <a href="{{item.url.path}}"><h5>{{item.title}}</h5></a></li>
            </li>
        {% endfor %}
    </ul>
    <select onChange="window.location.href=this.value">
        <option selected="selected">About Neurodata:</option>
        <option value="{{g.url('/content/pages/about.html').path}}">About</option>
        {% for item in g.docs('about') %}
            <option value="{{item.url.path}}">{{item.title}}</option>
        {% endfor %}
    </select>
</div>

{% if doc.subnavs %}
<div class="doc-nav sub">
    <ul>
        {% for sub_nav in doc.subnavs %}
           <li><a href="#{{sub_nav}}"><h5>{{sub_nav|replace("_","-")|capitalize}}</h5></a></li>
        {% endfor %}
    </ul>
    <select size="1" name="links" onchange="window.location.href=this.value;">
        <option selected="selected">Publication type:</option>    
        {% for sub_nav in doc.subnavs %}
            <option value="#{{sub_nav}}">{{sub_nav|replace("_","-")|capitalize}}</option>
         {% endfor %}
    </select>
</div>
{% endif %}