<div class="doc-nav">
    <ul>
        <li {% if highlighted=='about' %}
                style="background: #94D6C9; border-color: #94D6C9;" 
            {% endif %}
            >
            <a href="{{g.doc('/content/pages/about.html').url.path}}"><h5>About</h5></a></li>
        <li 
        {% if highlighted=='pubs' %}
            style="background: #94D6C9; border-color: #94D6C9;"
        {% endif %}
        >
        <a href="{{g.doc('/content/pages/publications.html').url.path}}"><h5>Publications</h5></a></li>
        <li
        {% if highlighted=='talks' %}
            style="background: #94D6C9; border-color: #94D6C9;"
        {% endif %}
        ><a href="{{g.doc('/content/pages/talks.html').url.path}}"><h5>Presentations</h5></a></li>
        <li
        {% if highlighted=='press' %}
            style="background: #94D6C9; border-color: #94D6C9;"
        {% endif %}
        >
        <a href="{{g.doc('/content/pages/press.html').url.path}}"><h5>Press</h5></a></li>
        <li
        {% if highlighted=='awards' %}
            style="background: #94D6C9; border-color: #94D6C9;"
        {% endif %}
        >
        <a href="{{g.doc('/content/pages/awards.html').url.path}}"><h5>Awards</h5></a></li>
        <li><a href="{{g.static('/source/docs/CP_Vogelstein.pdf').url.path}}" target="_blank"><h5>Funding</h5></a></li>
        <li><a href="https://github.com/neurodata/about/blob/master/agreements.md" target="_blank"><h5>Agreements</h5></a></li>
        <li><a href="https://github.com/neurodata/about/blob/master/conduct.md" target="_blank"><h5>Conduct</h5></a></li>
    </ul>
    <select onChange="window.location.href=this.value">
        <option value="{{g.doc('/content/pages/about.html').url.path}}">Neurodata</option>
        <option value="{{g.doc('/content/pages/publications.html').url.path}}">Publications</option>
        <option value="{{g.doc('/content/pages/talks.html').url.path}}">Presentations</option>
        <option value="{{g.doc('/content/pages/press.html').url.path}}">Press</option>
        <option value="{{g.doc('/content/pages/awards.html').url.path}}">Awards</option>
        <option value="{{g.static('/source/docs/CP_Vogelstein.pdf').url.path}}">Funding</option>
        <option value="https://github.com/neurodata/about/blob/master/agreements.md">Agreements</option>
        <option value="https://github.com/neurodata/about/blob/master/conduct.md">Conduct</option>
    </select>
</div>