<div class="nav">
    <div class="logo clearfix">
        <a href="/" >
            <img src="{{g.static('/source/images/neurodata_logo.png').url.path}}">
            <h4>NeuroData</h4>
            <div class="triangle"></div>
        </a>
    </div>
    <div class="links">
        {% set mobile_nav = false %}
        {% include 'partials/nav_content.html' %}

        <ul class="bottom">
            <li><a href="https://bitsandbrains.io/2018/09/02/how-to-email-faculty-for-job.html" target="_blank"><h5>Join Us</h5></a></li>
            <li><a href="mailto:support@neurodata.io"><h5>Contact Us</h5></a></li>
            <li><h5 class="copy">&copy; NeuroData {{ ''|print_current_year }}</h5></li>
        </ul>
    </div>
    <div id="mobile-nav" class="visible"><span></span><span></span><span></span><span></span><span></span><span></span></div>
    <div class="mobile-links">
        {% set mobile_nav = true %}
        {% include 'partials/nav_content.html' %}
    </div>
</div>