<ul>
    {% for item in g.docs('pages') if not item.is_hidden %}

        {% if item.is_category %}
            {% include 'partials/nav_sub_category.html' %}
        {% else %}
            <li>
                <a href="{{item.url.path}}">
                    <h5>{{item.base}}</h5>
                </a>
            </li>
        {% endif %}

        {% if item.base == 'research' %}
            <li>
                <a href="https://bitsandbrains.io/">
                    <h5>Blog</h5>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    {% if mobile_nav %}
        <li>
            <a href="{{g.url('/content/pages/join.html').path}}" target="_blank">
                <h5>Join Us</h5>
            </a>
        </li>
    {% endif %}
</ul>