<h6>
    {% for lang in package.lang %}
        {% if lang in ["Python","R","Matlab","Cpp", "TypeScript"] %}
            <img src="{{g.static('/source/images/' + lang + '_logo.svg').url.path}}" width=auto height="20px" style="filter:grayscale(100%)"> 
        {% else %} 
            {{lang}}: 
        {% endif %} 
    {% endfor %}

    {% if package.link %}
        <a href="{{package.link.path or package.link}}" target="_blank" rel="noopener">
    {% else %}
        <a href="https://github.com/{{package.github}}" target="_blank" rel="noopener">
    {% endif %} 
    {{package.name}}
    </a>
</h6>