<h6>
    {% for lang in package.lang %}
        {% if lang in ["Python","R","Matlab"] %}
            <img src="{{g.static('/source/images/' + lang + '_logo.svg').url.path}}" width=auto height="20px"> 
        {% else %} 
            {{lang}}: 
        {% endif %} 
    {% endfor %} 

    {% if package.link %}
        <a href="{{package.link}}" target="_blank">
    {% else %}
        <a href="https://github.com/{{package.github}}" target="_blank">
    {% endif %} 
    {{package.name}}
    </a>
</h6>