<div class="col">
    <span class="ids name">
        {{item.name}}
    </span>
    {% if item.position and (doc.title=="About" or doc.title=="Alumni") %}
    <span class="ids position"> 
        {{item.position}}
    </span>
    {% endif %}
    {% if item.picture %}
        <div class="bw" style="background: url('{{g.static("/source/images/people/" + item.picture).url.path}}')no-repeat center bottom; background-size: cover;"></div>
        <div class="color" style="background: url('{{g.static("/source/images/people/" + item.picture).url.path}}')no-repeat center bottom; background-size: cover;"></div>
    {% else %}
        {# Default images are in style.css #}
        <div class="bw"></div>
        <div class="color"></div>
    {% endif %}
    <div class="overlay">
        <div class="contact clearfix">
            {% if item.github %}
                <a href="https://github.com/{{item.github}}">
                    <img class="hover" src="{{g.static('/source/images/github-white.png').url.path}}">
                    <img src="{{g.static('/source/images/github-blue.png').url.path}}">
                </a>
            {% endif %}
            {% if item.email %}
                <a href="mailto:{{item.email}}">
                    <img class="hover" src="{{g.static('/source/images/mail-white.png').url.path}}">
                    <img src="{{g.static('/source/images/mail-blue.png').url.path}}">
                </a>
            {% endif %}
            {% if item.website %}
                <a href="{{item.website}}">
                    <img class="hover" src="{{g.static('/source/images/website-white.png').url.path}}">
                    <img src="{{g.static('/source/images/website-blue.png').url.path}}">
                </a>
            {% endif %}
        </div>
    </div>
</div>