<div class="col">
    <span class="ids name">
        {{item.author}}
        {% if "safe-zone" in item.usere %}
                <a>
                    <img src="{{g.static('/source/images/training/safe-zone.png').url.path}}">
                </a>
        {% endif %}
    </span>
    {% if item.file %}
        <div class="bw" style="background: url('{{g.static("/source/images/people/" + item.file).url.path}}')no-repeat center bottom; background-size: cover;"></div>
        <div class="color" style="background: url('{{g.static("/source/images/people/" + item.file).url.path}}')no-repeat center bottom; background-size: cover;"></div>
    {% else %}
        {# Default images are in style.css #}
        <div class="bw"></div>
        <div class="color"></div>
    {% endif %}
    {% if item.position and render_positions %}
    <span class="ids position"> 
        {{item.position}}
    </span>
    {% endif %}
    <div class="overlay">
        <div class="contact clearfix">
            {% if item.doi %}
                <a href="https://github.com/{{item.doi}}">
                    <img class="hover" src="{{g.static('/source/images/github-white.png').url.path}}">
                    <img src="{{g.static('/source/images/github-blue.png').url.path}}">
                </a>
            {% endif %}
            {% if item.note %}
                <a href="mailto:{{item.note}}">
                    <img class="hover" src="{{g.static('/source/images/mail-white.png').url.path}}">
                    <img src="{{g.static('/source/images/mail-blue.png').url.path}}">
                </a>
            {% endif %}
            {% if item.url %}
                <a href="https://{{item.url}}">
                    <img class="hover" src="{{g.static('/source/images/website-white.png').url.path}}">
                    <img src="{{g.static('/source/images/website-blue.png').url.path}}">
                </a>
            {% endif %}
        </div>
    </div>
</div>