<ol>
{% for item in TALKS %}
    {% if item.ID in talks %}
        <li>
            {{item|print_authors}} 
            {% if item.doi or item.url %}
                <a href="{{item|print_link}}" target="_blank">
            {% endif %}
            {{item|print_title|render|safe}}{% if item.doi or item.url %}</a>.{% else %}.
            {% endif %}
            <i>{{item.address}}</i>, {{item.year}}.
        </li>
    {% endif %}
{% endfor %}
</ol>

<!-- <ul>
{% for item in talks %}
    {% if item not in TALKS|map(attribute="ID")|list %}
    <li>{{item}} NOT FOUND</li>
    {% endif %}
{% endfor %}
</ul> -->
