<div class="nav">
    <div class="logo">
        <a href="{{g.url('/content/pages/home.html').path}}">
            <img class="view-wide" src="{{g.static('/source/images/neurodata_logo.png').url.path}}">
            <h4 class="view-wide">NeuroData</h4>
            <img class="view-narrow" src="{{g.static('/source/images/neurodata_logo.png').url.path}}">
        </a>
    </div>

    <div class="links">
        {% if doc.docs %}
        <a href="{{doc.docs}}">
            <h5 class="view-wide">Docs</h5>
            <img class="view-narrow" src="{{g.static('/source/images/book.png').url.path}}">
        </a>
        {% endif %}
        {% if doc.installation %}
        <a href="{{doc.installation}}">
            <h5 class="view-wide">Install</h5>
            <img class="view-narrow" src="{{g.static('/source/images/download.png').url.path}}">
        </a>
        {% endif %}
        {% if doc.examples %}
        <a href="{{doc.examples}}">
            <h5 class="view-wide">Examples</h5>
            <img class="view-narrow" src="{{g.static('/source/images/document.png').url.path}}">
        </a>
        {% endif %}
        {% if doc.github %}
        <a href="https://github.com/{{doc.github}}">
            <h5 class="view-wide">GitHub</h5>
            <img class="view-narrow" src="{{g.static('/source/images/github.png').url.path}}">
        </a>
        {% endif %}
    </div>
</div>