<div class="col" id="tools">
    <h4 class="title">Analysis/Tools</h4>
    {% if doc.tools %}
        {% for item in g.docs('tools') %}
            {% if item.name in doc.tools %}
                <div class="item">
                    <h4>
                        <a href=
                            {% if not item.hide or item.hide == false %}
                                "/tools#{{item.name}}"
                            {% elif item.github is not none %}
                                "https://github.com/{{item.github}}"
                            {% else %}
                                ""
                            {% endif %}
                        >{{ item.name }}</a>
                    </h4>
                    {% if item.description is not none %}
                        <p>{{item.description}}</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% for item in doc.analyses %}
        <div class="item">
            <h4>
                <a href="{{item.url}}">{{ item.name }}</a>
            </h4>
            {% if item.description is not none %}
                <p>{{item.description}}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>