<div class="nav">
    <div class="logo">
        <a href="{{doc.path}}">
            <h4>{{doc.slug}}</h4>
        </a>
    </div>

    <div class="links">
        <a href="/">
            <h5 class="view-wide">NeuroData</h5>
            <img class="view-narrow" src="{{g.static('/source/images/neurodata_logo.png').url.path}}">
        </a>
        {% if doc.docs %}
        <a href="{{doc.docs}}">
            <h5 class="view-wide">Docs</h5>
            <img class="view-narrow" src="{{g.static('/source/images/book.png').url.path}}">
        </a>
        {% endif %}
        {% if doc.installation %}
        <a href="{{doc.installation}}">
            <h5 class="view-wide">Install</h5>
            <img class="view-narrow" src="{{g.static('/source/images/download.png').url.path}}">
        </a>
        {% endif %}
        {% if doc.examples %}
        <a href="{{doc.examples}}">
            <h5 class="view-wide">Examples</h5>
            <img class="view-narrow" src="{{g.static('/source/images/document.png').url.path}}">
        </a>
        {% endif %}
        <a href="https://github.com/{{doc.github}}">
            <h5 class="view-wide">GitHub</h5>
            <img class="view-narrow" src="{{g.static('/source/images/github.png').url.path}}">
        </a>
    </div>
</div>