<span class="anchor" id="{{item.name}}"></span>

<div class="item">
    <button class="collapsible">
    {{item.name}}
    {% if item.heading %}(<i>{{item.heading}})</i>{% endif %}
    </button>

    <div class="content">
        <p>
            {{item.description|safe}}
        </p>
        {% if item.packages %}
            <div class="tool-package">
            {% for package in item.packages %}
                <div>
                    {% include 'partials/package_info.html'%}
                    {% include 'partials/package_icons.html' %}
                </div>
            {% endfor %}
            </div>
        {% else %}
            {% if item.heading != item.name %}
                {% set package = item %}
                {% include 'partials/package_info.html' %} 
            {% else %}
                <h6>
                    {% if item.link %}
                        <a href="{{item.link.path or item.link}}" target="_blank" rel="noopener">
                    {% else %}
                        <a href="https://github.com/{{item.github}}" target="_blank" rel="noopener">
                    {% endif %}
                    {{item.heading}}
                    </a>
                </h6>
            {% endif %}
        {% endif %}
        {% set package = item %}
        {% include 'partials/package_icons.html' %} 
    </div>
</div>