<h4 id="{{item.name}}">
    {% if item.link %}
        <a href="{{item.link}}" target="_blank">{{item.name}}</a>
    {% else %}
        {{item.name}}
    {% endif %}
</h4>
<p>
    {{item.description}}
</p>
<div class="options clearfix">
    {% if item.api %}
        <div class="link">
            <a href="{{item.api}}" target="_blank"><img src={{g.static("/source/images/settings.png").url.path}} class="tooltip" title="API"></a>
        </div>
    {% endif %}
    
    {% if item.github %}
        <div class="link">
            <a href="https://github.com/{{item.github}}" target="_blank"><img src={{g.static("/source/images/code.png").url.path}} class="tooltip" title="Code"></a>
        </div>
    {% endif %}
    
    {% if item.docker %}
        <div class="link">
            <a href="{{item.docker}}" target="_blank"><img src={{g.static("/source/images/docker.png").url.path}} class="tooltip" title="Docker"></a>
        </div>
    {% endif %}
    
    {% if item.docs %}
    <div class="link">
        <a href="{{item.docs}}" target="_blank"><img src={{g.static("/source/images/document.png").url.path}} class="tooltip" title="Docs"></a>
    </div>
    {% endif %}

    {% if item.manuscripts %}
        {% for man in g.docs('publications') %}
            {% if man.base in item.manuscripts %}
            <div class="link">
                <a href="{{man.link}}" target="_blank"><img src={{g.static("/source/images/book.png").url.path}} class="tooltip" title="{{man.name}} ({{man.year}})"></a>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    {% if item.press %}
    <div class="link"><a href="{{item.press}}" target="_blank"><img src={{g.static("/source/images/paper.png").url.path}} class="tooltip" title="Press"></a></div>
    {% endif %}
    
    {% if item.github %}
        <div class="link">
            <a href="https://github.com/{{item.github}}/graphs/contributors" target="_blank">
                <img src={{g.static("/source/images/user-silhouette.png").url.path}} class="tooltip" title="Contributors">
            </a>
        </div>
    {% endif %}
</div>