.DS_Store
dist
build
node_modules
bower_components
.tmp/
**.mo
image_compress/
env/
.depcache.json
.vscode
extensions/*
!extensions/sorting/
!extensions/sorting/*
routescache.json
.pytest_cache
.grow

# grow installed from pypi
*.pyc
