.DS_Store
dist
build
node_modules
bower_components
.tmp/
**.mo
image_compress/
env/
.depcache.json
.vscode
extensions/*
!extensions/sorting/
!extensions/sorting/*
!extensions/bibtex_print/*
routescache.json
.pytest_cache
.grow
setup.cfg

# grow installed from pypi
*.pyc

source/css-gulp/*