{% set stylesheet=g.static('/source/css/styles.92.css').url.path %}
{% include 'partials/base_head_partial.html' %}

<body class="home" lang="en">
    <div class="wrapper clearfix">
        {% include 'partials/nav.html' %}
        <div class="main">
            {% block main %}
                {{doc.html|render|safe}}
            {% endblock %}
        </div>
    </div>

    <script src="{{g.static('/source/js/jquery-3.3.1.min.js').url.path}}"></script>
    <script src="{{g.static('/source/js/jquery.tooltipster.min.js').url.path}}"></script>
    <script src="{{g.static('/source/js/script.8.js').url.path}}"></script>
</body>
</html>
