<!-- using tailwindcss for utility classes -->

{% extends "/views/cv_base.html" %}

{% block main %}

<main class="font-serif antialiased container mx-auto">

<p class="relative text-right text-lg">
    <script> document.write(new Date().toLocaleDateString()); </script>
</p>

<h1 class="tracking-tight text-4xl text-center py-12">{{doc.name}}</h1>

{% for section in doc.sections %}
    <div class="tracking-normal uppercase text-xl py-2">
        {{section.name}}
        
        {% for subsection in section.sections %}
            <div class="capitalize font-bold text-xl py-2">
                {{subsection.name}}
                {% for subsubsection in subsection.sections %}
                    <div class="font-normal underline text-xl py-2">
                        {{subsubsection.name}}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

</main>

{% endblock %}