{% extends "/views/base.html" %}

{% block main %}

<div class="wrap">
    <div class="header detail">
        <h2>{{doc.title}}</h2>
        {% if doc.description is not none %}
            <p>{{doc.description}}</p>
        {% endif %}
        {% if doc.long_description is not none %}
            <p class="hidden">{{doc.long_description}}</p>
            <a href="#" class="button expand">Learn More</a>
        {% endif %}
    </div>
    <div class="detail-wrap">
        <div class="summary clearfix">
            <div class="col even">
                <h4 class="title">Data</h4>
                {% for item in doc.data %}
                    {% if item.name is not none %}
                    <div class="item">
                        <h4><a href="{{item.url}}">{{ item.name }}</a></h4>
                        <p>{{item.description}}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col even">
                <h4 class="title">Analysis/Tools</h4>
                {% for item in doc.tools %}
                    {% if item is not none %}
                    <div class="item">
                        <h4><a href="/tools#{{item}}">{{ item }}</a></h4>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col even">
                <h4 class="title">Publications</h4>
                {% for item in g.docs('publications') %}
                    {% if item.base in doc.publications %}
                        <div class="item">
                            <h4><a href="{{item.link}}">{{ item.name }}</a></h4>
                            {% if item.subtext %}
                                <p>{{ item.subtext }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}