{% extends "/views/base.html" %}

{% block main %}

<div class="header detail" 
{% if doc.hero %}
    style="background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('{{g.static("/source/images/data/" + doc.hero).url.path}}')no-repeat center center; background-size: cover;"
{% endif %}
>
    <h2>{{doc.title}}</h2>
    {% if doc.description is not none %}
        <p>{{doc.description}}</p>
    {% endif %}
    {% if doc.long_description is not none %}
        <p class="hidden">{{doc.long_description|safe}}</p>
        <a href="#" class="button expand">Learn More</a>
    {% endif %}
</div>

<div class="detail-wrap">
    <div class="props">
        <div class="col">
            <h4 class="title">Data</h4>
            {% for item in doc.data %}
                {% if item.name is not none %}
                <div class="item">
                    <h4>
                        {% if item.url %}
                        <a href="{{item.url}}" target="_blank" rel="noopener">{{ item.name }}</a>
                        {% elif item.viz %}
                        <a href="{{item.viz}}" target="_blank" rel="noopener">{{ item.name }}</a>
                        {% else %}
                        {{ item.name }}
                        {% endif %}
                    
                        {% if item.viz %}
                        <a href="{{item.viz}}" target="_blank" rel="noopener" class="tooltip" title="Viz">
                            <img 
                                class="viz-icon"
                                src="{{g.static('/source/images/eye.svg').url.path}}"
                                alt="Viz"
                                height="22px"
                                width="22px">
                        </a>
                        {% endif %}
                        {% if item.layers %}
                            <a 
                                href="https://{{item.layers[0].bucket}}.s3.amazonaws.com/{{item.layers[0].path}}/info"
                                target="_blank" 
                                rel="noopener"
                                class="tooltip"
                                title="info"
                            >
                                <em style="font-family: 'Quadon Medium Italic'; font-size: 1.4rem; padding-left: 8px; color: white;">i</em>
                            </a>
                        {% endif %}
                        {% if item.layers %}
                            <a 
                                href="https://{{item.layers[0].bucket}}.s3.amazonaws.com/{{item.layers[0].path}}/provenance.json"
                                target="_blank" 
                                rel="noopener"
                                class="tooltip"
                                title="provenance"
                            >
                                <img 
                                    class="viz-icon"
                                    src="{{g.static('/source/images/metadata.svg').url.path}}"
                                    alt="Viz"
                                    height="22px"
                                    width="22px"
                                >
                            </a>
                        {% endif %}
                    </h4>
                    {% if item.description is not none %}
                        <p>{{item.description}}</p>
                    {% endif %}

                    {% for layer in item.layers %}
                        {% include "partials/cutout_example.html" %}
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if doc.tools is defined and doc.tools or doc.analyses is defined and doc.analyses %}
            <div class="col" id="tools">
                <h4 class="title">Tools</h4>
                <div class="tool-categories-flex">
                    <div class="mobile-shuffle">
                        <div class="group">
                            {% if doc.tools %}
                                {% for item in g.docs('tools', order_by='heading') if item.name in doc.tools %}
                                    {% include 'partials/tools_detail_list.html'%} 
                                {% endfor %}
                            {% endif%}
                            {% for item in doc.analyses %}
                                {% include 'partials/tools_detail_list.html'%} 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if doc.publications %}
        <div class="col">
            <h4 class="title">Publications</h4>
            {% set pubs = doc.publications %}
            {% include 'partials/pubs_list.html' %}
        </div>
        {% endif %}

    </div>

    <div id="notice">
        <p>To access this data, please view the <a href="{{g.url('/content/guides/download.md').path}}">guide</a>.</p>
        
        <p>
        {% if doc.license %}
            Data on this page are licensed under <a href="{{doc.license.link}}" target="_blank" rel="noopener">{{doc.license.name}}</a>.
        {% else %}
            Data on this site are licensed under <a href="https://opendatacommons.org/licenses/by/1-0/" target="_blank" rel="noopener">ODC-By v1.0</a> license.
        {% endif %}
        </p>
        {% if doc.doi %}
            <p>Please use this DOI when citing this data: <a href="http://dx.doi.org/{{doc.doi}}">{{doc.doi}}</a></p>
        {% endif %}
    </div>
</div>

{% endblock %}
