{% extends "/views/base.html" %}

{% block main %}

<div class="header detail">
    <h2>{{doc.category}}</h2>
</div>

{% include 'partials/help_nav.html' %}

{% set has_toc = 'class="toc"' in doc.html %}
<div class="docs">
    {% if has_toc %}
        <div class="guides-sidebar">
            {% set first_div = doc.html.find('</div>') %}
            <div class="toc_column">
                <h3>In this document</h3>
                {{doc.html[0:first_div + 6]|safe}}
            </div>
        </div>
    {% endif %}
    <div class="help-content">
        {% if has_toc %}
            {% set first_div = doc.html.find('</div>') %}
            {{doc.html[first_div + 6:]|safe}}
        {% else %}
            {{doc.html|render|safe}}
        {% endif %}

        <h3>Questions/comments?</h3>

        <p>Email <a href="mailto:support@neurodata.io">support@neurodata.io</a></p>
    </div>
</div>

{% endblock %}