{% extends "/views/base.html" %}

{% block main %}

<div class="header detail">
    <h1>{{doc.title}}</h1>
</div>

<div class="docs">
    <div class="guides-sidebar">
        {% include 'partials/guides_sidebar.html' %}
        
        {% set has_toc = 'class="toc"' in doc.html %}
        {% if has_toc %}
            {% set first_div = doc.html.find('</div>') %}
            <div class="toc_column">
                <h3>In this document</h3>
                {{doc.html[0:first_div + 6] | safe}}
            </div>
        {% endif %}
    </div>
    <div class="help-content">
        {% set has_toc = 'class="toc"' in doc.html %}
        {% if has_toc %}
            {% set first_div = doc.html.find('</div>') %}
            {{doc.html[first_div + 6:]|safe}}
        {% else %}
            {{doc.html|markdown|safe}}
        {% endif %}

        <h3>Questions/comments?</h3>

        <p>Email <a href="mailto:support@neurodata.io">support@neurodata.io</a></p>
    </div>
</div>

{% endblock %}
