{% extends "/views/base.html" %}

{% block main %}

<div class="header detail">
    <h2>{{doc.title}}</h2>
</div>


<div class="doc-nav">
    <ul>
        {% for option in doc.options %}
            <li><a href="#{{option.link}}"><h5>{{option.name}}</h5></a></li>
        {% endfor%}
    </ul>
    <select>
        <option selected="selected">Jump to:</option>
        {% for option in doc.options %}
            <option value="{{option.link}}">{{option.name}}</option>
        {% endfor%}
    </select>
</div>

<div class="docs">
    <div class="guides">
        <h3>Guides</h3>
        {% for item in g.docs('guides') %}
            <p><a href="{{item.url.path}}">{{item.title}}</a></p>
        {% endfor %}
    </div>
    <div class="help-content">
        {{doc.html|markdown|safe}}
    </div>
</div>

{% endblock %}