{% extends "/views/base.html" %}

{% block main %}

<div class="header detail">
    <h2>{{doc.heading}}</h2>
    {% if doc.description is not none %}
        <p>{{doc.description|safe}}</p>
    {% endif %}
    {% if doc.long_description is not none %}
        <p class="hidden">{{doc.long_description}}</p>
        <a href="#" class="button expand">Learn More</a>
    {% endif %}
</div>
<div class="doc-nav">
    <ul>
        {% if doc.about %}
        <li><a href="#about"><h5>About</h5></a></li>
        {% endif %}
        {% if doc.data %}
        <li><a href="#data"><h5>Data</h5></a></li>
        {% endif %}
        {% if doc.tools is iterable and doc.tools is not string %}
        <li><a href="#tools"><h5>Tools</h5></a></li>
        {% else %}
        <li><a href="{{doc.tools.path or doc.tools}}"><h5>Docs</h5></a></li>
        {% endif %}
        {% if doc.publications %}
        <li><a href="#publications"><h5>Publications</h5></a></li>
        {% endif %}
        {% if doc.people %}
        <li><a href="#people"><h5>People</h5></a></li>
        {% endif %}
        {% if doc.funding %}
        <li><a href="#funding"><h5>Funding</h5></a></li>
        {% endif %}
    </ul>
    <select name="links">
        <option selected="selected">Jump to:</option>
        {% if doc.about %}
        <option value="#about">About</option>
        {% endif %}
        {% if doc.data %}
        <option value="#data">Data</option>
        {% endif %}
        {% if doc.tools  is iterable and doc.tools is not string %}
        <option value="#tools">Tools</option>
        {% else %}
        <option value={{doc.tools.path or doc.tools}}>Docs</option>
        {% endif %}
        {% if doc.publications %}
        <option value="#publications">Publications</option>
        {% endif %}
        {% if doc.people %}
        <option value="#people">People</option>
        {% endif %}
        {% if doc.funding %}
        <option value="#funding">Funding</option>
        {% endif %}
    </select>
</div>

<div class="project clearfix">
    {% if doc.about %}
    <h3 class="title" id="about">About</h3>
        <p>{{doc.about|safe}}</p>
    {% endif %}

    {% if doc.data == true %}
        {% set data = g.docs('data', order_by='authors')|map(attribute="base")|list %}
    {% else %}
        {% set data = doc.data %}
    {% endif %}

    {% if doc.data %}
    <h3 class="title" id="data">Data</h3>
    {% if doc.dataText %}
        <p>{{doc.dataText|safe}}</p>
    {% endif %}
    <div class="team">
        <div class="members clearfix" id="team">
            {% for item in g.docs('data', order_by='authors') %}
                {% if item.base in data %}
                    {% include 'partials/data_blocks.html' %}
                {% endif %}
            {% endfor %}
        </div>                                        
    </div>
    {% endif %}

    {% if doc.tools is iterable and doc.tools is not string %}
        <h3 class="title" id="tools">Tools</h3>
        <div class="tool-categories-flex">
            <div class="mobile-shuffle">
                <div class="group">
                    {% for item in g.docs('tools', order_by='heading') if item.name in doc.tools %}
                        {% include 'partials/tools_detail_list.html'%} 
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    
    {% if doc.publications %}
        <h3 class="title" id="publications">Publications</h3>
        <div class="tools-pubs">
            <div class="col">
                {% set pubs = doc.publications %}
                {% set PUBS = 'content/bibs/pubs.bib' %}
                {% include 'partials/ross_pub_list.html' %}    
            </div>
        </div>
    {% endif %}


    {% if doc.people %}
        <div class="team">
            <h3 id="people">People on project</h3>
            <div class="members clearfix">
                {% for person in doc.people %}
                    {% set item = (g.docs('people') + g.docs('alumni'))|selectattr("base", '==', person)|first%}
                    {% include 'partials/people.html' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if doc.funding %}
        <h3 id="funding">Funding</h3>
        {% for item in doc.funding %}
            <p>
                {% if item.link %}
                <a href="{{item.link}}" target="_blank" rel="noopener">
                    {{item.name}}
                </a>
                {% else %}
                {{item.name}}
                {% endif %}
            </p>
        {% endfor%}
    {% endif %}
</div>

{% endblock %}
