{% set stylesheet=g.static('/source/css/tool-page.4.css').url.path %}
{% include 'partials/base_head_partial.html' %}

<body>
    {% include 'partials/tool-page-nav.html' %}

    <div class="main">
        <h2>
        {% if doc.github %}
            <a href="https://github.com/{{doc.github}}">
                {{doc.title}}
            </a>
        {% else %}
            {{doc.title}}
        {% endif %}
        </h2>

        <div class="detail">
            {% for item in doc.details %}
                <p>{{item|render|safe}}</p>
            {% endfor %}
        </div>

        {% if doc.manuscripts %}
            <div class="pubs">
                <h6>Publications</h6>
                {% set pubs = doc.manuscripts %}
                {% set index_items = true %}
                {% set PUBS = 'content/bibs/pubs.bib' %}
                {% include 'partials/ross_pub_list.html' %}
            </div>
        {% endif %}

        {% if doc.github %}
        <p class="center">
            <a href="https://github.com/{{doc.github}}" class="button" id="banner-btn">
                Get
                <span>{{doc.slug}}</span>
            </a>
        </p>
        {% endif %}
    </div>
</body>
</html>
