{% set stylesheet=g.static('/source/css/tool-page.4.css').url.path %}
{% include 'partials/base_head_partial.html' %}

<body>
    {% include 'partials/tool-page-nav.html' %}

    <div class="main">
        <a href="https://github.com/{{doc.github}}">
            <h2>
                {{doc.title}}
            </h2>
        </a>

        {% if doc.slides %}	
        <div class="pubs">	
            <!-- <h3><a target="_blank" href={{doc.slides[link]}}>{{doc.slides[name]}}</a></h3> -->
            {% for item in doc.slides %}	
                <h3><a target="_blank" href={{item.link}}>{{item.name}}</a></h3>
            {% endfor %}
        </div>
        {% endif %}
        <!-- <div class="pubs">
        {% if doc.slides %}
        <a href="{{doc.slide}}"><h3>Slides</h3></a>
        {% endif %}
        </div> -->

        <div class="detail">
            {% for item in doc.details %}
                <p>{{item|safe}}</p>
            {% endfor %}
        </div>

        {% if doc.manuscripts %}
            <div class="pubs">
                <h6>Publications</h6>
                {% set pubs = doc.manuscripts %}
                {% set index_items = true %}
                {% include 'partials/pubs_list.html' %}
            </div>
        {% endif %}


        <p class="center">
            <a href="https://github.com/{{doc.github}}" class="button" id="banner-btn">
                Get
                <span>{{doc.slug}}</span>
            </a>
        </p>
    </div>
</body>
</html>
