{% extends "/views/base.html" %}

{% block main %}

<div class="header">
	<h2>Heading</h2>
</div>
<div class="doc-nav">
	<ul class="clearfix">
		<li><a href="#"><h5>Placeholder</h5></a></li>
		<li><a href="#"><h5>Placeholder</h5></a></li>
		<li><a href="#"><h5>Placeholder</h5></a></li>
		<li><a href="#"><h5>Placeholder</h5></a></li>
		<li><a href="#"><h5>Placeholder</h5></a></li>
		<li><a href="#"><h5>Placeholder</h5></a></li>
		<li class="active"<a href="#"><h5>Placeholder</h5></a></li>
	</ul>
	<select>
		<option selected="selected">Filter</option>
		<option value="Placeholder">Placeholder</option>
		<option value="Placeholder">Placeholder</option>
		<option value="Placeholder">Placeholder</option>
		<option value="Placeholder">Placeholder</option>
		<option value="Placeholder">Placeholder</option>
		<option value="Placeholder">Placeholder</option>
	</select>
</div>

<div class="detail-wrap style-guide">
	<div class="intro clearfix">
		<div class="colors">
			<h3>Color Palette</h3>

			<p><strong>Tip:</strong> Firefox allows vertical text selection by holding down Ctrl (Cmd on mac)</p>
			<p><a href="https://bitsandbrains.io/2018/09/08/figures.html" target="_blank">Blog post to figure checklist</a></p>

			<table>
				<tr>
					<th style="width:2rem"></th>
					<th>Name</th>
					<th>Hex</th>
					<th>RGB</th>
				</tr>
				<tr><td style="background: #dfd6c2;"></td><td>Tan</td><td>#dfd6c2</td><td>223,214,194</td></tr>
				<tr><td style="background: #318dde;"></td><td>Sky Blue</td><td>#318dde</td><td>49, 141, 222</td></tr>
				<tr><td style="background: #F41711;"></td><td>Red</td><td><span >#F41711</td><td>244, 23, 17</td></tr>
				<tr><td style="background: #94D6C9;"></td><td>Desat. Cyan</td><td><span >#94D6C9</td><td>148, 214, 201</td></tr>
				<tr><td style="background: #87C6CC;"></td><td>Cyan</td><td>#87C6CC</td><td>135, 195, 204</td></tr>
				<tr><td style="background: #99B4C6;"></td><td>Slate</td><td>#99B4C6</td><td>153, 180, 198</td></tr>
				<tr><td style="background: #5F8793;"></td><td>Dark Cyan</td><td>#5F8793</td><td>95, 135, 147</td></tr>
				<tr><td style="background: #4a484c;"></td><td>Light Gray</td><td>#4a484c</td><td>74, 72, 76</td></tr>
				<tr><td style="background: #020202;"></td><td>Dark Gray</td><td>#020202</td><td>2, 2, 2</td></tr>
			</table>

			
			<h3><a href="http://colorbrewer2.org/#type=sequential&scheme=BuPu&n=9">Purple Palette</a></h3>
			<table>
				<tr>
					<th style="width:2rem"></th>
					<th>Name</th>
					<th>Hex</th>
					<th>RGB</th>
				</tr>

				<tr><td style="background: #fcfbfd;"></td><td>White</td><td>#fcfbfd</td><td>252,251,253</td></tr>
				<tr><td style="background: #efedf5;"></td><td>Whisper</td><td>#efedf5</td><td>239,237,245</td></tr>
				<tr><td style="background: #dadaeb;"></td><td>Snuff</td><td>#dadaeb</td><td>218,218,235</td></tr>
				<tr><td style="background: #bcbddc;"></td><td>Lavender Gray</td><td>#bcbddc</td><td>188,189,220</td></tr>
				<tr><td style="background: #9e9ac8;"></td><td>Blue Bell</td><td>#9e9ac8</td><td>158,154,200</td></tr>
				<tr><td style="background: #807dba;"></td><td>Wild Blue Yonder</td><td>#807dba</td><td>128,125,186</td></tr>
				<tr><td style="background: #6a51a3;"></td><td>Butterfly Bush</td><td>#6a51a3</td><td>106,81,163</td></tr>
				<tr><td style="background: #54278f;"></td><td>Daisy Bush</td><td>#54278f</td><td>84,39,143</td></tr>
				<tr><td style="background: #3f007d;"></td><td>Pigment Indigo</td><td>#3f007d</td><td>63,0,125</td></tr>
			</table>
		</div>
		<div class="left">
			<h1>Heading 1</h1>
			<p>82 px Quadon medium all caps</p>
			<h2>Heading 2</h2>
			<p>29 PX QUADON MEDIUM ALL CAPS</p>
			<h3>Heading 3</h3>
			<p>24 PX QUADON MEDIUM ALL CAPS</p>
			<h4>Heading 4</h4>
			<p>22 PX GENTONA BOLD ALL CAPS</p>
			<h5>Heading 5</h5>
			<p>16 PT GENTONA BOLD ALL CAPS 15PX MARGIN BLACK BG</p>
			<h6>Heading 6</h6>
			<p>18 px Gentona Bold Sentence case</p>
			<p>Body Copy</p>
			<p>18 pt Gentona Book Sentence Case. <a href="#"><b>Links Bold #318dde underlined.</b></a></p>
			<a href="#" class="button">Learn More</a>
		</div>
		<div class="right">
			<h1>Heading 1</h1>
			<p>82 px Quadon medium all caps</p>
			<h2>Heading 2</h2>
			<p>29 PX QUADON MEDIUM ALL CAPS</p>
			<h3>Heading 3</h3>
			<p>24 PX QUADON MEDIUM ALL CAPS</p>
			<h4>Heading 4</h4>
			<p>22 PX GENTONA BOLD ALL CAPS</p>
			<h5>Heading 5</h5>
			<p>16 PT GENTONA BOLD ALL CAPS 15PX MARGIN BLACK BG</p>
			<h6>Heading 6</h6>
			<p>18 px Gentona Bold Sentence case</p>
			<p>Body Copy</p>
			<p>18 pt Gentona Book Sentence Case. <a href="#"><b>Links Bold #318dde underlined.</b></a></p>
			<a href="#" class="button">Learn More</a>
		</div>
					
	</div>
	
	<div style="padding: 30px;">
		<div class="divider"></div>
		<p>Divider</p>
	</div>
	
	<div style="background:#29282f;padding: 30px;">
		<div class="divider"></div>
		<p style="color:white;">Divider</p>
	</div>
	
	<h2>Lorem Ipsum</h2>
	<p>Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quae ab illo inventore veritatis. Aperiam, eaque ipsa quae ab illo inventore veritatis quae. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quae ab illo inventore veritatis. </p>
	<ul>
		<li>Accusantium doloremque laudantium</li>
		<li>Accusantium doloremque laudantium</li>
			<ul>
				<li>Accusantium doloremque laudantium</li>
			</ul>
		<li>Accusantium doloremque laudantium</li>
	</ul>
	
	<ol>
		<li>Accusantium doloremque laudantium</li>
		<li>Accusantium doloremque laudantium</li>
		<li>Accusantium doloremque laudantium</li>
	</ol>
	
	<div class="team">
		
		<h1>Grid</h1>
		
		<div class="members clearfix" id="team">
			
			<div class="col">
				<blockquote><p>Name<br><span class="position">PositionTest</span></p></blockquote>
				<div class="bw"></div>
				<div class="color"></div>
				<div class="overlay">
					<h5>Undergraduate</h5>
					<p>Explore</p>
					<div class="contact clearfix">
						<a href="#"><img class="hover" src="/static/images/github-white.png"><img src="/static/images/github-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/mail-white.png"><img src="/static/images/mail-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/website-white.png"><img src="/static/images/website-blue.png"></a>
					</div>
				</div>
			</div>
			
			<div class="col">
				<blockquote><p>Name<br><span class="position">PositionTest</span></p></blockquote>
				<div class="bw"></div>
				<div class="color"></div>
				<div class="overlay">
					<h5>Undergraduate</h5>
					<p>Explore</p>
					<div class="contact clearfix">
						<a href="#"><img class="hover" src="/static/images/github-white.png"><img src="/static/images/github-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/mail-white.png"><img src="/static/images/mail-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/website-white.png"><img src="/static/images/website-blue.png"></a>
					</div>
				</div>
			</div>
			
			<div class="col">
				<blockquote><p>Name<br><span class="position">PositionTest</span></p></blockquote>
				<div class="bw"></div>
				<div class="color"></div>
				<div class="overlay">
					<h5>Undergraduate</h5>
					<p>Explore</p>
					<div class="contact clearfix">
						<a href="#"><img class="hover" src="/static/images/github-white.png"><img src="/static/images/github-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/mail-white.png"><img src="/static/images/mail-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/website-white.png"><img src="/static/images/website-blue.png"></a>
					</div>
				</div>
			</div>
			
			<div class="col">
				<blockquote><p>Name<br><span class="position">PositionTest</span></p></blockquote>
				<div class="bw"></div>
				<div class="color"></div>
				<div class="overlay">
					<h5>Undergraduate</h5>
					<p>Explore</p>
					<div class="contact clearfix">
						<a href="#"><img class="hover" src="/static/images/github-white.png"><img src="/static/images/github-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/mail-white.png"><img src="/static/images/mail-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/website-white.png"><img src="/static/images/website-blue.png"></a>
					</div>
				</div>
			</div>
			
			<div class="col">
				<blockquote><p>Name<br><span class="position">PositionTest</span></p></blockquote>
				<div class="bw"></div>
				<div class="color"></div>
				<div class="overlay">
					<h5>Undergraduate</h5>
					<p>Explore</p>
					<div class="contact clearfix">
						<a href="#"><img class="hover" src="/static/images/github-white.png"><img src="/static/images/github-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/mail-white.png"><img src="/static/images/mail-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/website-white.png"><img src="/static/images/website-blue.png"></a>
					</div>
				</div>
			</div>
			
			<div class="col">
				<blockquote><p>Name<br><span class="position">PositionTest</span></p></blockquote>
				<div class="bw"></div>
				<div class="color"></div>
				<div class="overlay">
					<h5>Undergraduate</h5>
					<p>Explore</p>
					<div class="contact clearfix">
						<a href="#"><img class="hover" src="/static/images/github-white.png"><img src="/static/images/github-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/mail-white.png"><img src="/static/images/mail-blue.png"></a>
						<a href="#"><img class="hover" src="/static/images/website-white.png"><img src="/static/images/website-blue.png"></a>
					</div>
				</div>
			</div>
			
		</div>						
		
	</div>
		
</div>


{% endblock %}