---
$title: Connectomes
$order: 3
$view: /views/base.html 
graph_species:
- Cat
- Fly
- Macaque
- Mouse
- Rat
- Worm
---

<div class="header detail">
    <h2>Connectomes</h2>
    <p>NeuroData's Graph DataBase</p>
</div>

<div class="doc-nav">
    <ul>
        <li><a href="#about"><h5>About</h5></a></li>
        {% for species in doc.graph_species %}
            <li><a href="#{{species}}"><h5>{{species}}</h5></a></li>
        {% endfor %}
    </ul>
    <select>
        <option selected="selected">Jump to:</option>
        
        {% for species in doc.graph_species %}
            <option value="{{species}}">{{species}}</option>
        {% endfor %}
    </select>
</div>

<div class="detail-wrap">
    <div class="intro clearfix" id="about">
        <h3>About</h3>
        <p>This page hosts animal connectomes produced using data from a multitude of labs, across model species, using different modalities. A 'connectome' is a specific, cell-to-cell mapping of axonal tracts between neurons, created from cellular data like electron microscopy. Animal models included are cat, fly, the macaque monkey, mouse, rat, and worm. Every graph is annotated with a source attribute that denotes its origin. </p>
        <p>Graphs are provided by default in <a href="http://graphml.graphdrawing.org/" target="_blank" rel="noopener">graphML</a> format. This is the only format that supports iterable attributes.</p>
        <p>For human graph data visit <a href="{{g.url('/content/projects/mri-cloud.html').path}}">Projectomes</a>.</p>
    </div>

    <div class="table database">
        {% for species in doc.graph_species %}
            <h3 id="{{species}}">{{species}}</h3>
            <table>
                <thead>
                    <tr class="head">
                        <th>Download URL</th>
                        <th>Region</th>
                        <th># Nodes</th>
                        <th># Edges</th>
                        <th>Graph Attrs</th>
                        <th>Node Attrs</th>
                        <th>Edge Attrs</th>
                        <th>Sensor</th>
                        <th>Project</th>
                        <th>Source Host URL</th>
                    </tr>
                </thead>
                {% set graphs = g.csv('content/graphs/graphs.csv', locale=species) %}
                <tbody>                    
                    {% for graph in graphs %}
                        <tr>
                            <td><a href="{{graph.link}}">{{graph.name}}</a></td>
                            <td>{{graph.region}}</td>
                            <td>{{graph.nodes}}</td>
                            <td>{{graph.edges}}</td>
                            <td>{{graph.graph_attr}}</td>
                            <td>{{graph.node_attr}}</td>
                            <td>{{graph.edge_attr}}</td>
                            <td>{{graph.sensor}}</td>
                            <td>{{graph.project}}</td>
                            {% if graph.source != '—' %}
                                <td><a href="{{graph.source}}" target="_blank" rel="noopener">{{graph.source | replace('http://', '')  | replace('https://', '') | replace('www.','') | truncate(20) }}</a></td>
                            {% else %}
                                <td>—</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>