---
$title@: NeuroData Cloud
$path: /{base}/
$view: /views/base.html
$order: 1
$category: "NeuroData Cloud"

publications: 
- burns2013open
- burns2014cosmos
- Vogelstein2016
- kleissas2017block
- burns2018community
- vogelstein2011q
---

<div class="header detail">
    <h2>{{doc.category}}</h2>
</div>

{% include 'partials/help_nav.html' %}

<div class="about clearfix">
    <div class="about-content">
        <div class="paper" id="mission">
            <p id="data">Our goal is to work together with neuro experimentalists to discover fundamental principles governing the relationship between mind and brain, via building and deploying open source data-driven tools that run at scale</p>
            <div class="team">
                <div class="divider"></div>
                <div class="members" id="team">
                    {% for item in g.docs('data', order_by='authors') %}
                        {% include 'partials/data_blocks.html' %}
                    {% endfor %}
                </div>                                        
            </div>
            
            <h3 id="pubs">Publications</h3>
            {% set pubs = doc.publications %}
            {% include 'partials/pubs_list.html' %}
        </div>
    </div>
</div>
