---
$title@: Alumni
$hidden: true
$path: /about/alum.html
---

    
<div class="about clearfix">
    <div class="team" id="team">
        <div class="members clearfix">
            {% set PUBS = 'content/bibs/teamtest.bib'|load_members %}
            {% for item in PUBS %}
                {% if item.number %}
                    {% with render_positions=true %}
                        {% include 'partials/people.html' %}
                    {% endwith %}
                {% endif %}
            {% endfor %}

        <!--{% for item in g.docs('alumni')|sort(attribute="name") if not item.associate %}
                {% with render_positions=true %}
                    {% include 'partials/people.html' %}
                {% endwith %}
            {% endfor %}-->
        </div>
    </div>
</div>