---
$title: Joshua Vogelstein, Ph.D.
$navbar: About Jovo
$order: 1
$view: /views/base-person.html
---

<div class="header about-header">
    <h2>Team</h2>
</div>

{% include 'partials/about_nav.html' %}
{% set docs = g.yaml('content/jovo/jovo-cv.yaml') %}

<div class="cv-container">
<div class="detail-wrap">
  <h2>{{doc.title}}</h2>
<div class="person-wrap">
<div class="person-photo">
  <img src="{{g.static('/source/images/people/vogelstein_joshua.jpg').url.path}}">
</div>
<div class="person-details">
  Associate Professor<br />
  Department of Biomedical Engineering<br />
  Johns Hopkins University<br />
  <a href="mailto:jovo@jhu.edu" target="_blank">jovo@jhu.edu</a><br />
  <a href="https://jovo.me" target="_blank">jovo.me</a>
</div>
</div>

<p class="no-print">
  Joshua Vogelstein, PhD, is an Associate Professor in the Department of <a href="http://www.bme.jhu.edu/">Biomedical Engineering</a> at 
  <a href="https://www.jhu.edu/">Johns Hopkins University</a>, with joint appointments in Applied Mathematics and Statistics, 
  Computer Science, Electrical and Computer Engineering, Neuroscience, and Biostatistics. His research focuses primarily on the intersection 
  of natural and artificial intelligence. His group develops and applies high-dimensional nonlinear machine learning methods to biomedical data science 
  challenges. They have published over 100 papers in prominent scientific and engineering journals and conferences including Nature, Science, PNAS, Neurips, 
  and JMLR, with over 11,000 citations and an h-index over 40. They have received funding from the Transformative Research Award from NIH, the NSF CAREER award, 
  Microsoft Research, and many other government, for-profit and nonprofit organizations. He has advised over 60 trainees, and taught about 200 students 
  in his eight years as faculty. In addition to his academic work, he co-founded Global Domain Partners, a quantitative hedge fund that was acquired by 
  Mosaic Investment Partners in 2012, and software startup Gigantum, which was acquired by nVidia in early 2022. He is currently also serving as 
  Chief Intelligence Officer for <a href="https://joinsensie.com/">Sensie</a> a startup devoted to unblocking intelligence to optimize our collective wellness. 
  He lives in the Chesapeake Bay Watershed with his beloved wife and three children.
</p>

<!-- OLDER PR -->
<!-- <p class="no-print">
  I am an Associate Professor in the Department of <a href="http://www.bme.jhu.edu/">Biomedical Engineering</a>, 
  with joint appointments in Applied Mathematics and Statistics, Computer Science, Electrical and Computer Engineering, Neuroscience, and Biostatistics at 
  <a href="https://www.jhu.edu/">Johns Hopkins University</a>. I am affiliated with the <a href="http://www.icm.jhu.edu/">Institute for Computational Medicine</a>, 
  the Center for Imaging Science, and the Kavli Neuroscience Discovery Institute, and am affiliated with the Mathematical Institute for Data Science and Institute for 
  Data Intensive Engineering and Sciences. I do biomedical data science, focusing on statistics of brain networks (connectomes). 
  I co-founded the <a href="http://ocp.me/">Open Connectome Project</a> (OCP) with my brother R. Jacob Vogelstein and <a href="http://hssl.cs.jhu.edu/~randal/">Randal Burns</a>, 
  Associated Professor in the Department of Computer Science at Johns Hopkins University, and then co-founded Gigantum a few years later.
</p>

<p class="no-print">
  I received a BS from the Department of Biomedical Engineering (BME) at Washington University in St. Louis, MO in 2002, a M.S. degree from the Department 
  of Applied Mathematics and Statistics (AMS) at Johns Hopkins University (JHU) in Baltimore, MD in 2009, and a Ph.D. degree from the Department of 
  Neuroscience at JHU in 2009. I then also trained in AMS@JHU from 2009 until 2012, and then Duke departments of Mathematics and Statistical Science until 2014. 
  I married my kindergarten sweetheart in the summer of 2014, and we had our first child in 2017, and a second in 2019. My research goal is to understand and 
  improve animal and machine learning worldwide.
</p>
    
<p class="no-print">
  My research has been featured in a number of prominent scientific and engineering journals and conferences including Nature, Science, Cell, Proceedings of the 
  National Academy of Sciences, Nature Methods, Science Translational Medicine, Journal of Machine Learning, IEEE Transactions on Pattern Analysis and Machine 
  Intelligence, Annals of Applied Statistics, Neurips, and SIAM Journal of Matrix Analysis and Applications. In 2011, I co-founded the Open Connectome Project, 
  and co-founded Gigantum a few years later. We try to conduct our work according to the highest standards of open science.
</p> -->
<!-- END OF OLDER PR -->

<h3 class="no-print">Links</h3>
<ul class="no-print">
  <li>
    jovo: <a href="http://scholar.google.com/citations?hl=en&user=DWPfdT4AAAAJ&sortby=pubdate&view_op=list_works&gmla=AJsN-F7eFaJivagMCwgIbNf4cOwHKPj8aFcIANb8rku8bPmHR88ZxVs8dbsn68pjjibAZ9I4KrtOJDCVC411dnpjg51-NPcMQ6SrgdFh3NXdXyjq9dimPVg">google scholar</a>,
    <a href="http://www.ncbi.nlm.nih.gov/myncbi/browse/collection/40260830/?sort=date&direction=ascending">pubmed</a>,
    <a href="http://arxiv.org/find/all/1/au:+Vogelstein_J/0/1/0/all/0/1">arXiv</a>,
    <a href="https://www.biorxiv.org/search/author1%3AJoshua%2BVogelstein%2B">bioRxiv</a>,
    <a href="https://github.com/jovo">github</a>
  </li>

  <li>
    open connectome project: <a href="http://www.openconnectomeproject.org/">website</a>, 
    <a href="http://www.github.com/openconnectome">github</a>
  </li>
  <li>
    other links: <a href="https://en.wikipedia.org/wiki/Joshua_Vogelstein">wiki</a>,
    <a href="https://twitter.com/neuro_data">twitter</a>,
    <a href="https://medium.com/@progl">medium</a>,
    <a href="https://pubpeer.com/search?q=users:%22J.%20T.%20Vogelstein%22">pubpeer</a>, 
    <a href="https://www.facebook.com/jovo1">facebook</a>, 
    <a href="https://www.linkedin.com/in/jovo1/">linkedin</a>, 
  </li>
</ul>

<h2 class="no-print">CV</h2>

<h3>Personal Information</h3>
{% for section in docs.data.personal %}
  <h4>{{ section.title }}</h4>
  <ul class="cv-item">
    {% if section.listitems %}
      {% for subitem in section.listitems %}
        <li>
          <span class="date">{{subitem.date}}</span>
          <span class="position">{{subitem.position}}</span>
          <span class="institution">{{subitem.institution|safe|replace("\n","<br>"|safe)}}</span>
          
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endfor %}


<h3>Published Peer-Reviewed Research Articles</h3>
{% set loops = 'content/bibs/pubs.bib'|load_bibtex("peer-reviewed") %}
<p class="cv-list-desc">
  Note: CV author in bold; Trainees are underlined,<br />
  <strong>({{loops|length}} papers; top 10 cited 3,922 times; H-index 36; 12 first, 13 last, 48 middle authorships)</strong> as of {{ docs.data.updated }}
</p>
{% include 'partials/pubs_loop.html' %}

<h3>Manuscripts Not Yet Accepted</h3>
{% set loops = 'content/bibs/pubs.bib'|load_bibtex("in-review") %}
{% include 'partials/pubs_loop.html' %}

<h3>Conference Papers</h3>
{% set loops = 'content/bibs/pubs.bib'|load_bibtex("conference") %}
{% include 'partials/pubs_loop.html' %}

<h3>Book Chapters</h3>
{% set loops = 'content/bibs/pubs.bib'|load_bibtex("book") %}
{% include 'partials/pubs_loop.html' %}

<h3>Technical Reports</h3>
{% set loops = 'content/bibs/pubs.bib'|load_bibtex("tech") %}
{% include 'partials/pubs_loop.html' %}

<h3>Other Publications</h3>
{% set loops = 'content/bibs/pubs.bib'|load_bibtex("other") %}
{% include 'partials/pubs_loop.html' %}

{% set FUNDcomplete = 'content/bibs/funding.bib'|load_bibtex("complete") %}
{% set FUNDcurrent = 'content/bibs/funding.bib'|load_bibtex("current") %}

<h3>Funding</h3>
<h4>External Research Support: Current</h4>
<ul class="cv-item">
{% for subitem in FUNDcurrent %}
  <li>
    <span class="date">{{subitem.number}}</span>
    <span class="title"><strong>{{subitem.usera}}</strong>, {{subitem.userb}} {{subitem.series}}</span>
    <p>
      PI: {{subitem.author}}<br />
      Role on Project: {{subitem.userc}}<br />
      Term: {{subitem.userd}}<br />
      Funding to lab, entire period: {{subitem.usere|print_price}}<br />
      Funding to lab, current year: {{subitem.userf|print_price}}
    </p>
    <p>{{subitem.abstract}}</p>
  </li>
{% endfor %}
</ul>
<h4>External Research Support: Completed</h4>
<ul class="cv-item">
{% for subitem in FUNDcomplete %}
  <li>
    <span class="date">{{subitem.number}}</span>
    <span class="title"><strong>{{subitem.usera}}</strong>, {{subitem.userb}} {{subitem.series}}</span>
    <p>
      PI: {{subitem.author}}<br />
      Role on Project: {{subitem.userc}}<br />
      Term: {{subitem.userd}}<br />
      Funding to lab, entire period: {{subitem.usere}}<br />
      Funding to lab, current year: {{subitem.userf}}
    </p>
    <p>{{subitem.abstract}}</p>
  </li>
{% endfor %}
</ul>


<h3>Invited Talks</h3>
{% set loops = 'content/bibs/talks.bib'|load_bibtex("local") %}
{% include 'partials/pubs_loop.html' %}

<h3>Other Talks</h3>
{% set loops = 'content/bibs/talks.bib'|load_bibtex("international") %}
{% include 'partials/pubs_loop.html' %}

<h3>Abstracts/Poster Presentations</h3>
{% set loops = 'content/bibs/pubs.bib'|load_bibtex("abspos") %}
{% include 'partials/pubs_loop.html' %}


<h3>Educational Activities</h3>
{% for section in docs.data.educational %}
  <h4>{{ section.title }}</h4>
    <ul class="cv-item">
    {% if section.listitems %}
      {% for subitem in section.listitems %}
        <li>
          <span class="date">{{subitem.date}}</span>
          <span class="title">{{subitem.title}}</span>
          <span class="ref">{{subitem.ref}}</span>
          {% if subitem.url %}
            <span class="url">[<a href="{{subitem.url}}">URL</a>]</span>
          {% endif %}
        </li>
      {% endfor %}
    {% endif %}
    </ul>
{% endfor %}


<h3>Mentorship</h3>
<h4>Research Track Faculty Mentorship</h4>
{% set loops = 'content/bibs/people.bib'|load_bibtex("researchtrackfaculty") %}
{% include 'partials/pubs_mentorship_loop.html' %}

<h4>Staff Research Scientists</h4>
{% set loops = 'content/bibs/people.bib'|load_bibtex("staffresearch") %}
{% include 'partials/pubs_mentorship_loop.html' %}

<h4>Postdoctoral Fellows</h4>
{% set loops = 'content/bibs/people.bib'|load_bibtex("postdoc") %}
{% include 'partials/pubs_mentorship_loop.html' %}

<h4>Ph.D. Students</h4>
{% set loops = 'content/bibs/people.bib'|load_bibtex("PhDstudent") %}
{% include 'partials/pubs_mentorship_loop.html' %}

<h4>Visiting Doctoral Student</h4>
{% set loops = 'content/bibs/people.bib'|load_bibtex("visiting-PhDstudent") %}
{% include 'partials/pubs_mentorship_loop.html' %}

<h4>M.S. Students</h4>
{% set loops = 'content/bibs/people.bib'|load_bibtex("MSstudent") %}
{% include 'partials/pubs_mentorship_loop.html' %}

<h4>Undergraduate Students</h4>
{% set loops = 'content/bibs/people.bib'|load_bibtex("undergrad") %}
{% include 'partials/pubs_mentorship_loop.html' %}

<h4>Highschool Student</h4>
{% set loops = 'content/bibs/people.bib'|load_bibtex("highschool")|safe %}
{% include 'partials/pubs_mentorship_loop.html' %}

<h4>Thesis Committee Service (BME unless noted otherwise)</h4>
<ul class="cv-item">
{% for subitem in docs.data.thesiscomitee %}
  <li>
    <span class="date">{{subitem.date}}</span>
    <span class="position">{{subitem.person}}</span>
    <span class="person">{{subitem.course}}</span>
    <span class="institution">{{subitem.desc}}</span>
  </li>
{% endfor %}
</ul>


<h3>Service</h3>
{% for section in docs.data.service %}
  <h4>{{ section.title }}</h4>
  <ul class="cv-item">
    {% if section.listitems %}
      {% for subitem in section.listitems %}
        <li>
          <span class="date">{{subitem.date}}</span>
          <span class="position">{{subitem.position}}</span>
          <span class="desc">{{subitem.institution}}</span>
          {% if subitem.desc %}
              <p>{{subitem.desc}}</p>
          {% endif %}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endfor %}

<h3>Awards and Recognition</h3>
{% for section in docs.data.awards %}
  <h4>{{ section.title }}</h4>
  <ul class="cv-item">
    {% if section.listitems %}
      {% for subitem in section.listitems %}
        <li>
          <span class="date">{{subitem.date}}</span>
          <span class="award">{{subitem.award}}</span>
          <span class="desc">{{subitem.desc}}</span>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endfor %}

{% set PRESS = 'content/bibs/press.bib'|load_bibtex("press") %}
<h3>Other Media</h3>
<ul class="cv-item">
  {% for subitem in PRESS %}
    <li>
      <span class="date">[{{loop.revindex}}]</span>
      <span class="name">{{subitem.author}}</span>
      <span class="title">"<i>{{subitem.title}}</i>"</span>
      <span class="institution">{{subitem.address}}</span>
      {% if subitem.url %}
        <span class="url">[<a href="{{subitem.url}}">URL</a>]</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<h4>Professional/Social Media Presence</h4>
<ul class="cv-item">
  <li>
    <span class="date"></span>
    <span class="name"><a href="https://twitter.com/neuro_data">@neuro_data</a></span>
    <span class="desc">Twitter account with a approximately 7,000 followers, over 250K impressions in December 2019, and approximately 100 new followers, and upwards of 100 new tweets, per month, and 25 link clicks per day. Follower demographics include <50% high school graduates, 46% female</span>
  </li>
  <li>
    <span class="date"></span>
    <span class="name"><a href="https://bitsandbrains.io/">Bits and Brains</a></span>
    <span class="desc">Professional blog reguarding all things academic, neurological, and statistical, with approximately 30 blog posts, approximately one new post per month (9,000 page views, 3,200 unique users)<br />
    Most Popular Post: <a href="https://bitsandbrains.io/2019/02/10/how-to-write-a-paper.html">10 Simple Rules to Write a Paper from Start to Finish</a></span>
  </li>
  <li>
    <span class="date"></span>
    <span class="name"><a href="https://medium.com/@progl">medium.com/@progl</a></span>
    <span class="desc">My Medium account where I post articles on both personal and professional topics</span>
  </li>
</ul>

<h3>Translation / Technology Transfer Activities</h3>
{% for section in docs.data.transfer %}
  <h4>{{ section.title }}</h4>
  <ul class="cv-item">
    {% if section.listitems %}
      {% for subitem in section.listitems %}
        <li>
          <span class="date">{{subitem.date}}</span>
          <span class="title"><strong>{{subitem.position}}</strong> {{subitem.title}}</span>
          <span class="publication">{{subitem.publication}}</span>
          {% if subitem.url %}
            <span class="url">[<a href="{{subitem.url}}">URL</a>]</span>
          {% endif %}
          <p>{{subitem.desc}}</p>
          <p><em>{{subitem.stats}}</em></p>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endfor %}

<br><br><br><br><br>

</div>
</div>
