---
$title@: Team
$order: 1
---    

<div class="team" id="team">

    <!--Here is where the various training things are displayed-->
    <img src="{{g.static('/source/images/training/safe-zone.png').url.path}}"> - <a href="https://studentaffairs.jhu.edu/lgbtq/education/safe-zone/">JHU Safezone Training</a>

    <!--End of Trainings-->
    
    <div class="members">
        {% set position_order = ['faculty','faculty - research','staff','postdoc','student','undergrad','associate','highschool'] %}
        {% set PUBS = 'content/bibs/people.bib'|load_members %}
        {% for item in PUBS %}
            {% if not item.series %}
                {% with render_positions=true %}
                    {% include 'partials/ross_people.html' %}
                {% endwith %}
            {% endif %}
        {% endfor %}
                
        
        <!--{% set cats = g.categories('people')|sort_by_index(position_order) %}
        {% for category, docs in cats %}
            {% if category != 'associate' %}
                {% for item in docs|sort(attribute="name")|sort(attribute="order") %}
                    {% with render_positions=true %}
                        {% include 'partials/people.html' %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        {% endfor %}-->
    </div>

    <h4 style="margin-top: 1em;">
        <a href="{{g.url('/content/about/alum.html').path}}">Alumni</a>
    </h4>
</div>
