---
$title@: Events 
$order: 1
---

<div class="tools-page" style="width: 100%">
  <div class="group">
    <h3>Recurring Workshops</h3>
      <ul>
      {% for item in g.docs('eventlist')[0].events if item.workshop and not item.hide %}
              <li>
                <p class="authors">
                  {{ item.authors }}
                  {% if item.url %}
                  <a href="{{item.url}}">“{{item.name}}“</a>.
                  {% endif %}
                  {% if not item.url %}
                  <strong>“{{item.name}}“</strong>.
                  {% endif %}
                  {% if item.place %}
                  In: {{ item.place }},
                  {% endif %}
                  {% if item.date %}
                  {{ item.date }}
                  {% endif %}
                </p>
                <p>{{item.description}}</p>
              </li>
      {% endfor %}
    </ul>
  </div>
  <div class="group">
      <h3>Events</h3>
        <ul>
        {% for item in g.docs('eventlist')[0].events if not item.workship and not item.hide %}
                <li>
                  <p class="authors">
                    {{ item.authors }}
                    {% if item.url %}
                    <a href="{{item.url}}">“{{item.name}}“</a>.
                    {% endif %}
                    {% if not item.url %}
                    <strong>“{{item.name}}“</strong>.
                    {% endif %}
                    {% if item.place %}
                    In: {{ item.place }},
                    {% endif %}
                    {% if item.date %}
                    {{ item.date }}
                    {% endif %}
                  </p>
                  <p>{{item.description}}</p>
                </li>
        {% endfor %}
      </ul>
  </div>

</div>
