---
$title: Projectomes
$order: 2
$view: /views/base.html

public_facing:
- name: Pipeline and Meganalysis Paper (pre-print)
  link: https://www.biorxiv.org/content/early/2018/04/24/188706
- name: Pipeline and Meganalysis Presentation
  link: https://www.dropbox.com/s/xrprdkj0k9rdi1t/ndmg.pdf?dl=0
- name: dMRI Docker Container
  link: https://hub.docker.com/r/bids/ndmg
- name: d+fMRI Docker Container
  link: https://hub.docker.com/r/neurodata/m3r-release/

github_links:
- name: Science in the Cloud (sic)
  link: https://github.com/neurodata/sic
- name: NeuroData's MRI Graphs pipeline (ndmg)
  link: https://github.com/neurodata/ndmg
- name: NeuroData's GRaph with rich attribUTE DataBase (ndgrutedb)
  link: https://github.com/neurodata/ndgrutedb
web_services:
- name: sic
  link: http://scienceinthe.cloud/
- name: ndgrutedb
  link: http://awesome.cs.jhu.edu/graph-services/download/
- name: Community Connectomics via Cloud Computing (c4)
  link: http://awesome.cs.jhu.edu/graph-services/c4/

references:
- Kiar2018
- Kiar2017
- Kiar2018b
- kiar2017example
previous_pipeline_papers:
- Gray2012
- GrayRoncal2013
related_papers:
- Mhembere2013
---
<!-- <meta http-equiv="refresh" content="0; URL='http://m2g.io/'" /> -->

<div class="header detail">
    <h2>M2G: Reliable Human Connectomes At Scale</h2>
</div>

<div class="doc-nav">
    <ul>
        <li><a href="#about"><h5>About</h5></a></li>
        <li><a href="#links"><h5>Links</h5></a></li>
        <li><a href="#dmri"><h5>dMRI</h5></a></li>
        <li><a href="#fmri"><h5>fMRI</h5></a></li>
        <li><a href="#refs"><h5>Publications</h5></a></li>
    </ul>
    <select>
        <option selected="selected">Jump to:</option>
        <option value="links">Links</option>
        <option value="dmri">dMRI</option>
        <option value="fmri">fMRI</option>
        <option value="refs">Publications</option>
    </select>
</div>

<div class="detail-wrap">
    <div class="intro clearfix" id="about">
        <h3>About</h3>
        <p>This page hosts projectomes produced with <a href="https://github.com/neurodata/ndmg" target="_blank">NeuroData's MRI Graphs pipeline (ndmg)</a>. A 'projectome' is a large-scale mapping between regions of the brain, created from fMRI or DTI. Data are from a multitude of labs and experiments. The data are <a href="https://www.biorxiv.org/content/early/2018/04/24/188706" target="_blank">run through ndmg</a>, and after processing, we provide summary statistics, QA, and the projectomes themselves.</p>
    </div>
    
    <h3 id="links">Links</h3>

  <div class="links">
    <div class="content">
      <h4>Public-Facing</h4>
      {% for item in doc.public_facing %}
        <p><a href="{{item.link}}" target="_blank">{{item.name}}</a></p>
      {% endfor %}
    </div>
    <div class="content">
      <h4>Github</h4>
      {% for item in doc.github_links %}
        <p><a href="{{item.link}}" target="_blank">{{item.name}}</a></p>
      {% endfor %}
    </div>
    <div class="content">
      <h4>Web Services</h4>
      {% for item in doc.web_services %}
        <p><a href="{{item.link}}" target="_blank">{{item.name}}</a></p>
      {% endfor %}
    </div>
  </div>

    <h3>Explore</h3>
    <div class="table">
        <h3 id="dmri">Diffusion MRI</h3>
        <table>
            <tbody>
                <tr class="head">
                    <th>Dataset</th>
                    <th>Covariates</th>
                    <th>Processed dMRI</th>
                    <th style="text-align: center">Code</th>
                </tr>

                {% for data in g.docs('mri_diffusion', order_by='name') %}
                    <tr>
                        <td><a href="{{data.link}}" target="_blank">{{data.name}}</a></td>
                        <td><a href="{{data.csv}}" target="_blank">[@csv]</a></td>
                        <td>
                            <button class="collapsible">Expand</button>
                            <div class="processed">
                                {% if data.reg_dti %}
                                <a href="{{data.reg_dti}}" target="_blank" class="button">Aligned Images</a>
                                {% endif %}
                                {% if data.tensors %}
                                <a href="{{data.tensors}}" target="_blank" class="button">Tensors</a>
                                {% endif %}
                                {% if data.fibers %}
                                <a href="{{data.fibers}}" target="_blank" class="button">Fibers</a>
                                {% endif %}
                                {% if data.graphs %}
                                <a href="{{data.graphs}}" target="_blank" class="button">Graphs</a>
                                {% endif %}
                                {% if data.qa %}
                                <a href="{{data.qa}}" target="_blank" class="button">QA</a>
                                {% endif %}
                            </div>
                          </td>
                        <td style="text-align: center">
                            <a href="https://github.com/neurodata/ndmg/tree/v{{data.ver}}" target="_blank" class="button">v{{data.ver}}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="table">
        <h3 id="fmri">Functional MRI</h3>
        <table>
            <tbody>
                <tr class="head">
                    <th>Dataset</th>
                    <th>Covariates</th>
                    <th>Processed fMRI</th>
                    <th style="text-align:center">Code</th>
                </tr>

                {% for data in g.docs('mri_functional', order_by='name') %}
                    <tr>
                        <td><a href="{{data.link}}" target="_blank">{{data.name}}</a></td>
                        <td><a href="{{data.csv}}" target="_blank">[@csv]</a></td>
                        <td>
                            <button class="collapsible">Expand</button>
                            <div class="processed">
                                {% if data.preproc %}
                                <a href="{{data.preproc}}" target="_blank" class="button">Preprocessed Images</a>
                                {% endif %}
                                {% if data.registered%}
                                <a href="{{data.registered}}" target="_blank" class="button">Aligned Images</a>
                                {% endif %}
                                {% if data.clean %}
                                <a href="{{data.clean}}" target="_blank" class="button">Cleaned Images</a>
                                {% endif %}
                                {% if data.roi_timeseries %}
                                <a href="{{data.roi_timeseries}}" target="_blank" class="button">ROI Timeseries</a>
                                {% endif %}
                                {% if data.connectomes %}
                                <a href="{{data.connectomes}}" target="_blank" class="button">Graphs</a>
                                {% endif %}
                                {% if data.qa %}
                                <a href="{{data.qa}}" target="_blank" class="button">QA</a>
                                {% endif %}
                            </div>
                        </td>
                        <td style="text-align: right">
                            <a href="https://github.com/neurodata/ndmg/tree/m3r-release" target="_blank" class="button">v{{data.ver}}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3 id="refs">Publications</h3>
    <h4>When using data, figures, or tools shared here, please cite:</h4>

    {% set pubs = doc.references %}
    {% include 'partials/pubs_list.html' %}

    <h4>Previous Pipeline Papers</h4>
    {% set pubs = doc.previous_pipeline_papers %}
    {% include 'partials/pubs_list.html' %}

    <h4>Related Papers</h4>
    {% set pubs = doc.related_papers %}
    {% include 'partials/pubs_list.html' %}
</div>


<div id="notice">
    <p>Data on this site are licensed under a <a href="https://opendatacommons.org/licenses/by/1-0/" target="_blank">ODC-By v1.0</a> license.</p>
</div>