---
$title@: About
$order: 5
---    
<div class="header about-header">
    <h2>About NeuroData</h2>
</div>
{% set highlighted = 'about' %}
{% include 'partials/about_nav.html' %}

<div class="doc-nav sub">
    <ul>
        <li><a href="#mission"><h5>Mission</h5></a></li>
        <li><a href="#team"><h5>Team</h5></a></li>
        <li><a href="#calendar"><h5>Calendar</h5></a></li>
    </ul>
    <select size="1" name="links" onchange="window.location.href=this.value;">
        <option value="#mission">Mission</option>
        <option value="#team">Team</option>
        <option value="#calendar">Calendar</option>
    </select>
</div>

<div class="about clearfix">
    <div class="about-content">
        <div class="press" id="mission">
            <h3>Mission Statement</h3>
            <p>To flourish together by extending and fusing statistical machine learning and big data science to address the most important brain science and mental health questions of our time.</p>
        </div>

        <div class="team" id="team">
            <div class="divider"></div>
            
            <h3>The Team</h3>
            <div class="members">
                {% set position_order = ['faculty','faculty - research','staff','postdoc','student','associate'] %}
                {% set cats = g.categories('people')|sort_by_index(position_order) %}
                {% for category, docs in cats %}
                    {% if category != 'associate' %}
                        {% for item in docs %}
                            {% include 'partials/people.html' %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>

            <h4 style="margin-top: 1em;">
                <a href="{{g.url('/content/about/alum.html').path}}">Alumni</a>
            </h4>
        </div>

        <div id="calendar">
            <div class="divider"></div>

            <h3>Calendar</h3>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=afr9t36kknt629jh4omun20n90%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FNew_York" style="border-width:0" width="600" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>