---
$title@: Data
$order: 1
publications: 
- burns2013open
- burns2014cosmos
- Vogelstein2016
- kleissas2017block
- burns2018community
- vogelstein2011q
---

<div class="header about-header">
    <h2>Data</h2>
</div>
<div class="doc-nav">
    <ul class="clearfix">
        <li><a href="#data"><h5>Data</h5></a></li>
        <li><a href="#pubs"><h5>Publications</h5></a></li>
    </ul>
    <select size="1" name="links" onchange="window.location.href=this.value;">
        <option selected="selected">Select:</option>
        <option value="#projects">Projects</option>
        <option value="#data">Data</option>
        <option value="#pubs">Publications</option>
    </select>
</div>

<div class="about clearfix">
    <div class="paper" id="mission">
        
        <div class="data mobile-projects">
            <h3 id="projects">Projects</h3>
            {% for proj in g.docs('projects') %}
                <h4><li><a href="{{proj.url.path}}">{{proj.title}}</a></li></h4>
            {% endfor %}
        </div>

        <h3 id="data">Data</h3>
        <p>Our goal is to work together with neuro experimentalists to discover fundamental principles governing the relationship between mind and brain, via building and deploying open source data-driven tools that run at scale</p>
        <p><a href="/access">Instructions</a> for data access</p>
        <div class="team">
            <div class="divider"></div>
            <div class="members clearfix" id="team">
                {% for item in g.docs('data', order_by='authors') %}
                    {% include 'partials/data_blocks.html' %}
                {% endfor %}
            </div>                                        
        </div>
        
        <h3 id="pubs">Publications</h3>
        {% set pubs = doc.publications %}
        {% include 'partials/pubs_list.html' %}
    </div>
</div>
