---
$title@: Presentations
$hidden: true
---

<div class="header about-header">
    <h2>Presentations</h2>
</div>
{% set highlighted = 'talks' %}
{% include 'partials/about_nav.html' %}

<div class="doc-nav sub">
    <ul>
        <li><a href="#talks"><h5>Talks</h5></a></li>
        <li><a href="#Posters"><h5>Posters</h5></a></li>
    </ul>
    <select size="1" name="links" onchange="window.location.href=this.value;">
        <option selected="selected">Publication type:</option>
        <option value="#talks">Talks</option>
        <option value="#Posters">Posters</option>
    </select>
</div>

<div class="detail-wrap">
    <div class="list_pubs">
        {% set index_items = true %}

        <h6 id="talks">Talks</h6> 
        {% set TALKS = 'content/talks/talks.bib'|load_bibtex %}
        {% include 'partials/talks_list.html' %}

        <h6 id="Posters">Posters</h6>
        {% set pubs = doc.Posters %}

    </div>    

    <!-- {% set TALKS = 'content/talks/talks.bib'|load_bibtex %} -->
    <!-- <div class="list_pubs">
        {% include 'partials/talks_list.html' %}
    </div> -->
</div>