---
$title@: Tools 
$order: 3 
---
<div class="header tools">
    <h2>{{doc.title}}</h2>
</div>

<div class="tools-page">
    <div class="group">
        <h3>Vectors</h3>
        {% for item in g.docs('tools') if item.type == "vectors" and item.local and not item.hide %}
            {% include 'partials/tools_detail_list.html'%}
        {% endfor %}
    </div>

    <div class="group">
        <h3>Graphs</h3>
        {% for item in g.docs('tools') if item.type == "graphs" and not item.cloud and not item.hide %}
            {% include 'partials/tools_detail_list.html'%} 
        {% endfor %}
    </div>
    
    <div class="group">
            <h3>Images</h3>
        {% for item in g.docs('tools') if item.type == "images" and not item.cloud and not item.hide %}
            {% include 'partials/tools_detail_list.html'%} 
        {% endfor %}
    </div>
</div>